*{
    padding: 0;
    margin: 0;
}

button{
    background: #32b16c;
    border-color: #32b16c;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
}

button:link,
button:visited,
button:hover,
button:active,
button:focus{
    outline: none;
}

.form-box{
    padding: 10px;
    background: #f5f5f5;
}

.control-box{
    margin-bottom: 20px;
}

.control-box:last-child{
    margin-bottom: 0;
}

.control-title{
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
}

.control-box label{
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    margin-right: 10px;
}

.control-box input{
    vertical-align: middle;
}